<%= form_for(@clap) do |form| %>
  <%= form.hidden_field :idea_id %>
  <%= form.hidden_field :user_name, :value => current_user.email %>
  <% if @clap.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(clap.errors.count, "error") %> prohibited this clap from being saved:</h2>

      <ul>
      <% clap.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table class="cmt-tb">
    <tr>
      <td><%= form.submit("Clap", class: "btn-s")  %></td>
      <td><h2 class="clap-title">Clap to this post</h2></td>
    </tr>
  </table>
<% end %>

