<div class="timeline">
    <div>
        <h1 class="timeline-title">Timeline</h1>
        <div class="pageNav">
            <div class="pageNav-wrap cf">
                <a class="pageNav-item pageNav-item-1 is-current">All</a>
                <a class="pageNav-item pageNav-item-2">Your post</a>
                <div class="pageNav-line-long">
                    <div class="pageNav-line is-selected-1"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="timeline-body">
        <div class="cards">
            <div>
                <% @ideas.each do |idea| %>
                    <% @cmtCount = 0 %>
                    <% @clapCount = 0 %>
                    <div class="card">
                        <div class="btn-div">
                            <div class="btn-s"><%= link_to 'Show', idea %></div>
                            <div class="btn-s"><%= link_to 'Edit', edit_idea_path(idea) %></div>
                            <div class="btn-d"><%= link_to 'Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' } %></div>
                        </div>
                        <div class="card_picFrom" style="cursor: pointer;">
                            <img src="../../images/bulb-money-flat.png">
                        </div>
                        <div class="card_left">
                            <div class="card_header">
                                <span class="card_name" style="cursor: pointer;"><i>Idea name: </i><%= idea.name %></span>
                            </div>
                            <div class="card_body">
                                <p><b>Post at:</b> <%= idea.created_at %></p>
                                <span><%= idea.description %></span>
                            </div>
                            <div>
                                <%= image_tag(idea.picture_url, width: 500) if idea.picture.present? %>
                            </div>
                            <div class="card_footer cf">
                                <% idea.claps.each do |clap| @clapCount += 1 end %>
                                <% idea.comments.each do |comment| @cmtCount += 1 end %>
                                <h3><i class="fa fa-comment" aria-hidden="true"></i><span class="clap_count"><%= @cmtCount %> comment(s) to this post!</span></h3>
                                <h3><img src="https://cdn2.iconfinder.com/data/icons/hand-gestures-7/400/Hands-12-512.png" style="width: 20px;"><span class="clap_count"><%= @clapCount %> clap(s) to this post!</span></h3>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
        <div class="timeline-tail-appendable"></div>
    </div>
</div>

