<%= form_for(@comment) do |f| %>
  <%= f.hidden_field :idea_id %>
  <%= f.hidden_field :user_name, :value => current_user.email %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h2 class="clap-title">Comment to this post</h2>
   <table class="cmt-tb">
    <tr>
      <td><%= f.label :body %></td>
      <td><%= f.text_area :body %></td>
    </tr>
    <tr>
      <td></td>
      <td class="text-right"><%= f.submit("Send", :class => "btn-s")  %></td>
    </tr>
  </table>
<% end %>
